$darkCyan: hsl(180, 29%, 50%);
$lightGrayCyan: hsl(180, 52%, 96%);
$lightGrayishCyan: hsl(180, 31%, 95%);
$darkGrayCyan: hsl(180, 8%, 52%);
$veryDarkGrayCyan: hsl(180, 14%, 20%);

$white: #fff;

$gutter: 50px;

//Breakpoints
$bp-xxs: '375px';
$bp-xs: '480px';
$bp-s: '640px';
$bp-m: '860px';
$bp-l: '980px';
$bp-xl: '1200px';
$bp-xxl: '1380px';