*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 65.5%; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Spartan', sans-serif; }

.site-header {
  position: relative;
  height: 25vh;
  width: 100vw;
  background: #5ba4a4 url("./images/bg-header-mobile.svg") no-repeat center; }
  @media (min-width: 375px) {
    .site-header {
      background: #5ba4a4 url("./images/bg-header-desktop.svg") no-repeat center; } }
  .site-header-filter {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0 25px;
    top: 20vh;
    left: 5vw;
    height: 10vh;
    margin: 0 auto;
    width: 90vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px #7b8e8e; }
    @media (min-width: 640px) {
      .site-header-filter {
        left: 10vw;
        width: 80vw; } }
    .site-header-filter button {
      position: relative;
      padding: 0px 40px 0px 10px;
      margin-right: 15px;
      height: 50%;
      background-color: #effafa;
      color: #5ba4a4;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 5px;
      border: none; }
      .site-header-filter button span {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 6px 10px;
        font-size: 1.25rem;
        color: white;
        background-color: #5ba4a4;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        transition: .3s; }
        .site-header-filter button span:hover {
          background-color: #2c3a3a; }
    .site-header-filter__clear {
      margin-left: auto;
      font-size: 1.2rem;
      color: #5ba4a4;
      cursor: pointer;
      transition: .3s; }
      .site-header-filter__clear:hover {
        font-weight: 700;
        border-bottom: 1px solid #5ba4a4; }

.site-main {
  padding: 50px 0;
  height: 100%;
  width: 100vw;
  background-color: #effafa; }
  .site-main-section {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px #7b8e8e; }
    @media (min-width: 640px) {
      .site-main-section {
        display: flex;
        justify-content: space-between;
        width: 80%; } }
    @media (min-width: 860px) {
      .site-main-section__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }
    .site-main-section__header-info {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .site-main-section__header-info-company {
        margin-right: 20px;
        color: #5ba4a4;
        font-size: 1.6rem; }
      .site-main-section__header-info-badge {
        margin-right: 10px;
        height: 25px;
        color: #effafa;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 25px;
        border-radius: 20px;
        border: none; }
        @media (min-width: 640px) {
          .site-main-section__header-info-badge {
            font-size: 1.3rem; } }
        .site-main-section__header-info-badge:nth-child(2) {
          width: 70px;
          background-color: #5ba4a4; }
        .site-main-section__header-info-badge:nth-child(3) {
          width: 120px;
          background-color: #2c3a3a; }
    .site-main-section__header-role {
      color: #2c3a3a;
      font-size: 1.6rem;
      line-height: 0; }
    .site-main-section__header-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 25px;
      color: #7b8e8e;
      font-size: 1.25rem;
      font-weight: 500;
      border-bottom: 2px solid #eef6f6; }
      @media (min-width: 640px) {
        .site-main-section__header-list {
          border-bottom: none; } }
      .site-main-section__header-list span {
        margin-top: 15px;
        margin-right: 10px; }
    .site-main-section__image {
      position: absolute;
      width: 60px;
      height: 60px;
      top: -12%;
      left: 7%; }
      @media (min-width: 480px) {
        .site-main-section__image {
          top: -15%;
          left: 5%; } }
      @media (min-width: 640px) {
        .site-main-section__image {
          top: -15%;
          left: 4%; } }
      @media (min-width: 860px) {
        .site-main-section__image {
          position: static;
          width: 100px;
          height: 100px;
          margin-right: 20px; } }
    @media (min-width: 640px) {
      .site-main-section aside {
        align-self: center; } }
    .site-main-section__button {
      padding: 5px 10px;
      margin: 10px 10px 0 0;
      background-color: #effafa;
      color: #5ba4a4;
      font-size: 1.5rem;
      font-weight: 700;
      border-radius: 5px;
      border: none;
      transition: .3s; }
      .site-main-section__button:hover {
        background-color: #5ba4a4;
        color: #effafa;
        cursor: pointer; }

.u-border-featured {
  border-left: 7px solid #5ba4a4; }
